li {
	list-style: none;

}
ul {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
		cursor: pointer;
	}
}
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button {
	&:hover {
		cursor: pointer;
	}
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Oswald', sans-serif;
}
body,html {
	
font-family: 'Open Sans', sans-serif;
}